<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team</title>
</head>

<body>
    <form method="PUT" th:action="@{/teams/{id}(id=${team.id})}" th:object="${team}">
        <h1>Edit team:</h1>

        <label for="id">Street address: </label>
        <input type="text" th:field="*{deliveryStreet}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('deliveryStreet')}"
              th:errors="*{deliveryStreet}">Street Error</span>
        <br/>



</body>
</html>