<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team</title>
</head>

<body>
<h1>Edit team:</h1>

<table>
    <tr>
        <td height="30" th:text="${team.id}"></td>
        <td height="30" th:text="${team.name}"></td>
        <td th:each="car : ${team.cars}"></td>
        <td th:each="racer : ${team.racers}"></td>
    </tr>
</table>
    <!--<form method="PUT" th:action="@{/teams/{id}(id=${team.id})}" th:object="${team}">
        <h1>Edit team:</h1>

        <table>
            <tr th:each="team : ${teams}">
                <td height="30" th:text="${team.id}"></td>
                <td height="30" th:text="${team.name}"></td>
                <td th:each="car : ${team.cars}"></td>
                <td th:each="racer : ${team.racers}"></td>
            </tr>
        </table>
    </form>-->
</body>
</html>