<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info about team</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>

<a th:href="@{/teams}">Back to the list of teams</a>

<br/>

<h1>Info about team:</h1>

<br/>

<table>
    <tr>
        <th>ID</th>
        <th>TEAM</th>
    </tr>
    <tr>
        <td height="30" th:text="${team.id}"></td>
        <td height="30" th:text="${team.name}"></td>
    </tr>
</table>

<h2>List of racers of this team:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ACTIONS</th>
    </tr>
    <th:block th:each="racer : ${team.racersList}">
        <tr>
            <td th:text="${racer.id}"></td>
            <td th:text="${racer.name}"></td>
            <td align="center">
                <a th:href="@{/racers/info/{id}(id=${racer.id})}">Info</a>
            </td>
        </tr>
    </th:block>
</table>

<h2>List of cars of this team:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>BRAND</th>
        <th>MODEL</th>
        <th>ENGINE POWER (hp)</th>
        <th>ACTIONS</th>
    </tr>
    <th:block th:each="car : ${team.carsList}">
        <tr>
            <td th:text="${car.id}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.carModel}"></td>
            <td th:text="${car.enginePower}"></td>
            <td align="center">
                <a th:href="@{/cars/info/{id}(id=${car.id})}">Info</a>
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>